@using OpineHere.mvc.Resources
@model IEnumerable<OpineHere.mvc.Models.MarkdownPostDto>
@{
    ViewData["Title"] = Resources.Bulletin;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
@foreach (var post in Model)
{
    <div class="card mb-4 bg-light">
        <div class="card-header">
            <label class="form-label fw-bold mb-3">@post.Title</label>
        </div>
        <div class="card-body">
            <div id="penNameSection" class="mt-3">
                @post.RawContent
            </div>
        </div>
    </div>
}
