html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}
.primary-content {
  margin: 10% 5%;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.article-header{
  background-color: #baccb8;
  padding-bottom: 12px;
}
.markdown-container {
  background: #FDECC9;
  box-shadow: #888 8px 7px 5px 3px;
}
.cards-row {
  display: flex;
  flex-wrap: wrap;
}
.card-body{
  max-height: 400px;
  overflow-y: hidden;
}
.tile-grid {
  width: 80%;
  margin: 1px 10%;
  align-items: center;
  justify-content: center;
  border: 1px solid #f9fcfa;
  box-shadow: 1px 4px 3px #888;
}
.tile-grid ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.tile-grid li {
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 20%;
  max-width: 180px;
  height: 100%;
  position: relative;
}
.tile-grid li img{
  max-height: 25px;
}
.tile-grid li:hover{
  background: #f8f9f8;
}
.tile-grid li a.navbar-brand{
  font-weight: bold;
}
.tile-grid li a::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Spreads the clickable area over the whole div */
  cursor: pointer
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .primary-content {
    margin: 8% 3%;
  }
  
}
@media (min-width: 1200px) {
  .primary-content {
    margin: 5% 4%;
  }
  .tile-grid li {
    width: 18%;
    max-width: 200px;
  }
}
@media (min-width: 1800px) {
  .primary-content {
    margin: 2.5% 3%;
  }
}